@font-face {font-family: "iconfont";
  src: url('./font/iconfont.eot?t=1603100808112'); /* IE9 */
  src: url('./font/iconfont.eot?t=1603100808112#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALIAAsAAAAABnAAAAJ9AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp8gR8BNgIkAwgLBgAEIAWEbQcwG8UFyB6SpAdFslcR8AMCIAnx8LXf67n7NgSgMpGAGguKHLEwiawqj6+w7fhKlkAeSf/Bm6tMd8FGS3z7dkF6lA4wjyiOCizgttasCK46JQv4jArQ7ezlgNJJid3P64KTb8Dh0sbyQOYB5TLH5DEBA0sD2hujyErojV9FvBPpDvI5gWr9oG7j9vnNE5FhXSDOGZrwRAphWVZylUJ5w9EsbihTma6l57ge/T6+mosISVkBDdsnbhTP+YdEBcVeac+RgCBCEE6XocAsIBMHG9Ob/EJhDqrTAcPAsWqDD6lUCqziqCah/OtQXQt6efEzSTzpo1YnkJPxccD6pKmk7trJx/8d+6/A+HvBWL6c/f7o9dmhzb5b8evXn/krX7x4e/Wq+evuTjssugNezt8/XJ6YIHSX87JwXYl7lqfGjjvrQfuf2Z2Ki5tGiYx37vjmi+ssc/eOZwX+rDjl+yAQDNy/px5PL/yPxDN4/2D/NzJmw7xUnsMT/CvJwL5sy2BJ2ZQ0epPxSWsTqlWjRPQ3e6fq227MGSoLEgVJhT4UKo0SM3UWZWrMo1ylZVSbMZ6u0SLzi1yFaRuH0OhEUu8hCo0uYqY+KNPuQ7nG8KPa4Wi5ssZ4GLF1RtFFBeQIgiRXZbZuLK59Qa1nC87LItYHcseIAcO0nLtDF3mJHaWv1WpXBcvkgOBeQ9smiEwmym7Jd7vtQ0Js04dKihxPzDqGhC6kANIICCTiUoPRXbHK918gTY9N4I6mFv8HxDqMyQGD0QHEO7U7qOlR3in6NDVVlwpYjDiA4BYhm42A2LzIhKSuEj8h2XaI0DA7VF3aXuv8QJHSBgwpaF6h/CoKlrrHAw==') format('woff2'),
  url('./font/iconfont.woff?t=1603100808112') format('woff'),
  url('./font/iconfont.ttf?t=1603100808112') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./font/iconfont.svg?t=1603100808112#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .icon-search:before {
  content: "\e602";
} */

